* {
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100vh;
  border: 2px solid black;
}

#headline {
  position: absolute;
  opacity: 1;

}

.btn {
  position: absolute;
  z-index: 10;
  float: left;
}

.nav-bar {
  width: 40vw;
  height: 5vh;
}

#main-image {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#top-bar {
  float: relative;
  background-color: #C5C8E8;

  opacity: .4;
  height: 20vh;

  border: 2px solid black;

  z-index: -10;
}

.sidebar {
  height: 80vh;
}

#left-bar {
  float: left;
  width: 15vw;
  background-color: blue;
}

#main-content{
  height: 80vh;
  width: 60vw;
  background-color: green;
}

#right-bar {
  float:right;
  width: 22vw;
  background-color: red;
}

#footer {
  width: 100vw;
  height: 10vh;
}
