* {
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100vh;
}

#top-bar {
  float: relative;
  background-color: transparent;
  /*opacity: .4;*/
  height: 20vh;
  padding-left: 5px;
  z-index: -10;
}

#headline {
  margin-left: 6px;
  position: relative;
  font-size: 4em;
  opacity: 1;
  z-index: 1000;
}


#navigation {
  padding-bottom: 0;
  padding-left: 5px;
  position: relative;
  background-color: transparent;;
  border: none;
}

#nav {
  list-style-type: none;
}

.btn {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  bottom: 0;
  z-index: 10;
}

#main-image {
  background-color: #C5C8E8;
  opacity: .5;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}


.sidebar {
  height: 85vh;
}

#left-bar {
  float: left;
  width: 15vw;
  height: 85vh;
  border: 2px solid yellow;
  /*background-color: #C5C8E8;*/
}

#main-content{
  height: 85vh;
  width: 60vw;
  /*background-color: green;*/
  border: 2px solid yellow;
}

#right-bar {
  float:right;
  height: 85vh;
  width: 25vw;
  /*background-color: red;*/
  border: 2px solid yellow; 
}

#footer {
  width: 100vw;
  height: 5vh;
}
